In [ ]:
import pandas as pd

train = pd.read_csv("train_target.csv")
test = pd.read_csv("test_target.csv")

train.info()
train.describe()
train["target"].value_counts(normalize=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   target  int64
dtypes: int64(2)
memory usage: 45.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      500000 non-null  int64
dtypes: int64(1)
memory usage: 3.8 MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      500000 non-null  int64
dtypes: int64(1)
memory usage: 3.8 MB

In [13]:
df = pd.read_parquet("train_data/train_data_0.pq")
df.head(10000).to_csv("train_data_0.csv", index=False)

In [14]:
train_data_0 = pd.read_csv('train_data_0.csv')

train_data_0.head()
train_data_0.info()
train_data_0.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 59 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10000 non-null  int64
 1   rn          10000 non-null  int64
 2   enc_col_0   10000 non-null  int64
 3   enc_col_1   10000 non-null  int64
 4   enc_col_2   10000 non-null  int64
 5   enc_col_3   10000 non-null  int64
 6   enc_col_4   10000 non-null  int64
 7   enc_col_5   10000 non-null  int64
 8   enc_col_6   10000 non-null  int64
 9   enc_col_7   10000 non-null  int64
 10  enc_col_8   10000 non-null  int64
 11  enc_col_9   10000 non-null  int64
 12  enc_col_10  10000 non-null  int64
 13  enc_col_11  10000 non-null  int64
 14  enc_col_12  10000 non-null  int64
 15  enc_col_13  10000 non-null  int64
 16  enc_col_14  10000 non-null  int64
 17  enc_col_15  10000 non-null  int64
 18  enc_col_16  10000 non-null  int64
 19  enc_col_17  10000 non-null  int64
 20  enc_col_18  10000 non-null  int64
 21  enc_col_19  10000 non-null  int64
 22  enc_col_20  10000 non-null  int64
 23  enc_col_21  10000 non-null  int64
 24  enc_col_22  10000 non-null  int64
 25  enc_col_23  10000 non-null  int64
 26  enc_col_24  10000 non-null  int64
 27  enc_col_25  10000 non-null  int64
 28  enc_col_26  10000 non-null  int64
 29  enc_col_27  10000 non-null  int64
 30  enc_col_28  10000 non-null  int64
 31  enc_col_29  10000 non-null  int64
 32  enc_col_30  10000 non-null  int64
 33  enc_col_31  10000 non-null  int64
 34  enc_col_32  10000 non-null  int64
 35  enc_col_33  10000 non-null  int64
 36  enc_col_34  10000 non-null  int64
 37  enc_col_35  10000 non-null  int64
 38  enc_col_36  10000 non-null  int64
 39  enc_col_37  10000 non-null  int64
 40  enc_col_38  10000 non-null  int64
 41  enc_col_39  10000 non-null  int64
 42  enc_col_40  10000 non-null  int64
 43  enc_col_41  10000 non-null  int64
 44  enc_col_42  10000 non-null  int64
 45  enc_col_43  10000 non-null  int64
 46  enc_col_44  10000 non-null  int64
 47  enc_col_45  10000 non-null  int64
 48  enc_col_46  10000 non-null  int64
 49  enc_col_47  10000 non-null  int64
 50  enc_col_48  10000 non-null  int64
 51  enc_col_49  10000 non-null  int64
 52  enc_col_50  10000 non-null  int64
 53  enc_col_51  10000 non-null  int64
 54  enc_col_52  10000 non-null  int64
 55  enc_col_53  10000 non-null  int64
 56  enc_col_54  10000 non-null  int64
 57  enc_col_55  10000 non-null  int64
 58  enc_col_56  10000 non-null  int64
dtypes: int64(59)
memory usage: 4.5 MB

,id,rn,enc_col_0,enc_col_1,enc_col_2,enc_col_3,enc_col_4,enc_col_5,enc_col_6,enc_col_7,...,enc_col_47,enc_col_48,enc_col_49,enc_col_50,enc_col_51,enc_col_52,enc_col_53,enc_col_54,enc_col_55,enc_col_56
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,640.371800,6.423200,0.836000,3.392300,0.948100,5.984000,1.017000,0.0,0.980400,1.622600,...,1.138100,1.380700,2.16920,8.231000,8.296000,0.937500,0.177200,5.001300,0.510700,9.886200
std,365.016942,5.074315,0.370294,1.030489,0.221836,0.295216,0.204243,0.0,0.138628,1.476817,...,1.425914,1.467918,1.32761,5.225339,4.465801,1.355425,0.643305,0.065565,1.076105,5.743566
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000
25%,327.000000,3.000000,1.000000,3.000000,1.000000,6.000000,1.000000,0.0,1.000000,0.000000,...,0.000000,0.000000,0.00000,4.000000,6.000000,0.000000,0.000000,5.000000,0.000000,5.000000
50%,654.000000,5.000000,1.000000,4.000000,1.000000,6.000000,1.000000,0.0,1.000000,3.000000,...,0.000000,0.000000,3.00000,8.000000,8.000000,0.000000,0.000000,5.000000,0.000000,10.000000
75%,951.000000,9.000000,1.000000,4.000000,1.000000,6.000000,1.000000,0.0,1.000000,3.000000,...,3.000000,3.000000,3.00000,13.000000,11.000000,3.000000,0.000000,5.000000,0.000000,15.000000
max,1269.000000,34.000000,1.000000,5.000000,1.000000,6.000000,6.000000,0.0,1.000000,3.000000,...,3.000000,3.000000,3.00000,17.000000,16.000000,3.000000,3.000000,9.000000,3.000000,19.000000